<ion-header>
  <ion-navbar color="primary">
    <ion-title>List Invoice</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton="true" (ionInput)="onSearch($event)"
      placeholder="Search By Invoice No"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isInvAvailable" text-center padding-top>
    <b class="error-box" style="font-size: 24px;">No Record Found</b>
  </div>
  <ion-card *ngFor="let i of invoiceJson" [ngClass]="i.claim_status == 'Partially Cancelled' ? 'boxThis': ''">
    <ion-item (click)="goToInvoiceDetails(i.invoice_no)">
      <h2><span><b>No : </b></span> {{i.invoice_no}}</h2>
      <h2><span><b>Invoice Date : </b></span> <span
          style="padding-left:10px;">{{i.invoice_date | date:'d MMM yyyy'}}</span></h2>

      <div><b>Status : </b>
        <ion-badge *ngIf="i.claim_status == null" color="primary">N/A</ion-badge>

        <ion-badge *ngIf="i.claim_status == 'Completed' || i.claim_status == 'Documents Uploaded'" color="secondary">
          {{i.claim_status}}</ion-badge>

        <ion-badge
          *ngIf="i.claim_status == 'Processing' || i.claim_status=='Waiting for Approval' || i.claim_status=='Material Received' || i.claim_status=='Approved' || i.claim_status=='Sales Person Approved' || i.claim_status=='Documents Needed' "
          color="blue">{{i.claim_status}}</ion-badge>

        <ion-badge *ngIf="i.claim_status == 'Partially Cancelled'" color="danger">{{i.claim_status}}</ion-badge>

      </div>

    </ion-item>
  </ion-card>
</ion-content>
