<ion-header>
  <ion-navbar color="primary" >
    <ion-title>List Invoice</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
      <ion-searchbar 
      showCancelButton="true"
      (ionInput)="searchitem($event)"
      (cancel)="onCancel($event)"
       placeholder="Search By Invoice No"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
<div *ngIf="isInvAvailable" text-center padding-top >
  <b class="error-box" style="font-size: 24px;" >No Record Found</b>
</div>
<ion-card  *ngFor="let i of invoiceJson"   [ngClass]="i.claim_status == 'Partially Cancelled' ? 'boxThis': ''" >
  <ion-item (click)="goToInvoiceDetails(i.invoice_no)" >
      <h2><span><b>No : </b></span> {{i.invoice_no}}</h2>
      <h2><span><b>Invoice Date : </b></span> <span style="padding-left:10px;">{{i.invoice_date | date }}</span></h2> 
      <div *ngIf="i.claim_status == null"><b>Status : </b> <ion-badge color="primary">N/A</ion-badge></div>
      <div *ngIf="i.claim_status == 'Partially Cancelled'"><b>Status : </b> <ion-badge color="danger">{{i.claim_status}}</ion-badge></div>
  </ion-item> 
</ion-card>
</ion-content>
