page-listinvoice {
    .boxThis {
        border          : 1px solid red;
        width           : 95.5%;
        margin          : 8px;
        background-color: #efefef;
        padding-bottom: 1px;
    }
}
